name: CI
on: 
    push:
    pull_request:
    schedule:
        - cron: '0 4 * * 6' # Every Saturday on 4am

jobs:
    psalm:
        name: Static analysis
        runs-on: ubuntu-20.04
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.4'
                  tools: composer:v2
                  coverage: none
              env:
                  fail-fast: true

            - uses: ramsey/composer-install@v1
              with:
                composer-options: "--prefer-dist"

            - name: Build codeception helpers
              run: vendor/bin/codecept build

            - name: Run Psalm
              run: vendor/bin/psalm --output-format=github --shepherd

    phpcs:
        name: Code style
        runs-on: ubuntu-20.04
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: '7.4'
                  tools: composer:v2, cs2pr
                  coverage: none
              env:
                  fail-fast: true

            - uses: ramsey/composer-install@v1
              with:
                composer-options: "--prefer-dist"

            - name: Run PHPCodeSniffer
              run: vendor/bin/phpcs --report=checkstyle -q --parallel=1 | cs2pr

    tests:
        name: Test on ${{matrix.php}} - ${{matrix.deps}} deps
        runs-on: ubuntu-20.04
        strategy:
            matrix:
                php: ['7.4', '8.0']
                deps: ['lowest', 'highest']
            fail-fast: false
        steps:
            - name: Checkout
              uses: actions/checkout@v2

            - name: Set up PHP
              uses: shivammathur/setup-php@v2
              with:
                  php-version: ${{matrix.php}}
                  tools: composer:v2
                  coverage: none
              env:
                  fail-fast: true

            - uses: ramsey/composer-install@v1
              with:
                dependency-versions: ${{ matrix.deps }}

            - name: Show Psalm version
              run: vendor/bin/psalm --version

            - name: Run tests
              run: vendor/bin/codecept run -v
